<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>グローバルIPアドレス</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid>
                    <v-row dense>
                        <v-col v-for="card in cards" :key="card.title" :cols="card.flex">
                            <v-card>
                                <v-card-title>{{card.title}}</v-card-title>

                                <v-simple-table fixed-header height="300px">
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left" width="50%">
                                                    Date
                                                </th>
                                                <th class="text-left">
                                                    IP address
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in table[card.table]" :key="item.date">
                                                <td>{{ item.date }}</td>
                                                <td>{{ item.ipaddress }}</td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn icon @click="show_delete_dialog(card.table)">
                                        <v-icon>mdi-delete-forever</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <v-dialog v-model="dialog.delete.show" persistent max-width="290">
                    <v-card>
                        <v-card-title class="headline">
                            {{dialog.delete.title}}
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" text @click="dialog.delete.show = false">
                                Cancel
                            </v-btn>
                            <v-btn color="green darken-1" text @click="clear_db(dialog.delete.table)">
                                Clear
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                dialog: {
                    delete: {
                        title: '',
                        table: '',
                        show: false,
                    },
                },
                db: {
                    ipv4: null,
                    ipv6: null,
                },
                cards: [
                    { title: 'ipv4', flex: 6, table: 'ipv4' },
                    { title: 'ipv6', flex: 6, table: 'ipv6' },
                ],
                table: {
                    ipv4: [],
                    ipv6: [],
                },
                date_format: 'YYYY/MM/DD HH:mm:ss (ddd)',
            },
            created: function () {
                const vm = this;
                const now = dayjs();

                ['ipv4', 'ipv6'].forEach((name) => {
                    this.init_db(name);
                    this.load_table(name);

                    const url = (name == 'ipv4') ? 'https://v4.ident.me' : 'https://v6.ident.me';

                    axios.get(url).then(function (response) {
                        // console.log(`${name} get`);
                        const ipaddress = response.data;
                        vm.save_ipaddress(name, now.unix(), ipaddress).then(() => {
                            console.log(`${name} save completed.`);
                            vm.load_table(name);
                        })
                    });
                });
            },
            methods: {
                init_db: function (name) {
                    this.db[name] = new Dexie(name);
                    this.db[name].version(1).stores({
                        records: 'date,ipaddress'
                    });
                },
                save_ipaddress: function (dbname, date, ipaddress) {
                    const vm = this;
                    let result = null;
                    return this.db[dbname].records.where({ ipaddress: ipaddress }).count().then((count) => {
                        // console.log(`${dbname} count=${count}`);
                        if (count == 0) {
                            return vm.db[dbname].records.put({
                                date: date, ipaddress: ipaddress
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                    });
                },
                load_table: function (name) {
                    const vm = this;
                    this.db[name].records.each(record => {
                        const date = dayjs.unix(record.date).format(vm.date_format);
                        const found = vm.table[name].find(item => item.ipaddress === record.ipaddress);
                        if (!found) {
                            vm.table[name].unshift({ date: date, ipaddress: record.ipaddress });
                        }
                    })
                },
                show_delete_dialog: function(name){
                    this.dialog.delete.title = `Clear ${name} table?`;
                    this.dialog.delete.table = name;
                    this.dialog.delete.show = true;
                },
                clear_db: function (name) {
                    const vm = this;
                    return this.db[name].delete().then(() => {
                        vm.table[name] = [];
                        vm.dialog.delete.show = false;
                    });
                }
            },
            vuetify: new Vuetify(),
        })
    </script>
</body>

</html>